/* Universal Selector */
html {
  position: relative;
  font-family: "Orbitron","Quantico", sans-serif;
  font-size: 30px;
  background-color: black;
  color:rgb(109, 108, 108);
  margin:0;
  padding:0;  
  width: auto;
  height: auto;
}

#main-content {
  position: relative;
  text-decoration: none;
}

.img {
  overflow: auto;
  max-width: auto;
}

 /* Media Query for Mobile Devices */
 @media only screen and (max-width: 480px) and (orientation: landscape) {
  #main-content {
      width: auto;
      height: auto;
      font-size: 30px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #main-content {
      width: auto;
      height: auto;
      font-size: 30px
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #main-content {
      width: auto;
      height: auto;
      font-size: 80px;
  }
}

/* Media Query for Laptops and Desktops */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  #main-content {
      width: auto;
      height: auto;
      font-size: 80px;
  }
}

/*Header*/

#header {
position: relative;
border-bottom: 2px solid gray;
z-index: 100;
width: 100.4%;
height: auto;
line-height: 50px;
}

#header .logo {
padding-top: 2rem; 
font-size: 35px
}

#header nav ul {
 display: inline-block;
 padding-right: 2.0rem;
 margin: auto;
 font-family: "Orbitron","Quantico", sans-serif;
 font-size: 20px;
 line-height: 1.9;
 list-style-type: none;
}

#header li {
  display: inline;
  padding: 1px 20px;
  text-decoration: none;
  color: whitesmoke;
}

/*Main*/

#main-content {
position: absolute;
padding: auto;
z-index: 100;
display: block;
font-size: 15px;
height: auto;
width: auto;
background-image: url('./assets/images/Background.jpg');
background-position: bottom;
background-size: cover;
background-repeat: no repeat;  
text-decoration: none;
}

.background {
  width: 85rem;
  height: auto;
}

#main-content h1 {
color: black;
top: 60px;
left: 7%;
position: absolute;
width: 16rem;
font-size: 38px;
}

/*Picture of me section*/

#main-content .picture-of-me-section {
position: absolute, top, left;
padding: auto;
z-index: 100;
display: flex;
height: 14rem;
width: 11rem;
top: 8px;
float: right ;
}

/*About me*/

#main-content .about-me {
  font-size: 28px;
  color: whitesmoke;
  position: absolute;
  display: block;
  top: 240px;
  right: 5%;
  padding: 0 1rem;
  width: 22rem;
  height: 18rem;
  border: solid 1px whitesmoke;
  border-radius: 8px;    
  box-sizing: border-box;
  text-decoration: none;
}

#main-content .about-me span {
  font-size: 18px;
}

#main-content .about-me h2 {
  font-size: 28px;
  text-decoration: none;
}

/*Projects Section*/

#main-content .projects-section {
position: absolute;
padding: auto;
z-index: 100;
display: block;
font-size: 24px;
top: 605px;
color:#000000;
height: auto;
width: auto;
text-decoration: none;
}

.projects-section span {
font-size: 28px;
}

.projects-section h2 {
  font-size: 35px;
}

.projects {
  position: absolute;
  display: block;
  width: 8rem;
  height: 1rem;
  left: 1%;
  bottom: 170px; 
}

.projects .horiseon .seo{ 
  position: absolute;
  width: 22rem;
  height: 18rem;
  left: 1%;
  bottom: 20px;
}


.projects .manifesto .gambling{
  position: absolute;
  width: 14rem;
  height: 14rem;
  left: 38em;
  bottom: 10px;
}

.projects .wine {
  position: absolute;
  width: 14rem;
  height: 14rem;
  left: 65em;
  bottom: 10px;
}

.projects .horiseon h5 {
  position: absolute;
  font-size: 28px;
  bottom: 210px;
  left: 14%;
  color:#000000;
}

.projects .manifesto h5 {
  position: absolute;
  font-size: 25px;
  bottom: 190px;
  left: 20em;
  color:greenyellow;
}

.projects .winery h5 {
  position: absolute;
  font-size: 24px;
  bottom: 170px;
  left: 45em;
  color:whitesmoke;
}



/*Design Inquiries*/

#main-content .design-inquiries form {
  position: absolute;
  margin: 0 auto;
  width: 22rem;
  height: 17rem;
  padding: 0 2;
  bottom: 110px;
  right: 5%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  }

#main-content .design-inquiries h3 {
  font-size: 30px;
  bottom: 530px;
  color: whitesmoke;
}

#main-content .design-inquires label {
  display: inline-block;
  width: 120px;
}
   
#main-content .design-inquiries input, textarea {
  box-sizing: border-box;
  width: 410px;
  line-height: 1rem;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 15px;
}
 
#main-content .design-inquiries .textarea {
  vertical-align: top;
  height: 40px;
}
    
#main-content .design-inquiries button {
  height: 35px;
  width: 100px;
  background-color: whitesmoke;
  border-radius: 15px;
  color: black;
  cursor: pointer;
}


#main-content .design-inquiries .text-center {
  text-align: center;
  font-size: 22px;
}
     
#main-content .design-inquiries .text-right {
  text-align: right;
  font-size: 24px;
}




#main-content .design-inquiries li {
 display: block;
 padding: 0px 20px;
 line-height: 2rem;
 width: 1rem;
 text-decoration: none;
 color: whitesmoke;
}

/*Contacts*/

#contact {
margin-bottom: 0;
padding: 20px 10px 40px 10px;
background: none;
font-size: 20px;
}

#contact h2 {
  font-size: 32px;
}
/*Footer*/

footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: black;
  position: absolute;
  margin-top: 5;
  border-top: 2px solid gray;
  border-bottom: 5px solid #6b6b6b;
  color: #FDF8F5;    
  text-align: justify;
}

